In [2]:
import pandas as pd
df = pd.read_csv("adult.data.csv")

In [3]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [18]:
df[df['sex'].apply(lambda sex: sex == 'Female')]['age'].mean()

36.85823043357163

In [33]:
100 * (len(df[df['native-country'].apply(lambda state: state == "Germany")]) / len(df['native-country']))

0.42074874850281013

In [64]:
print(df[df['salary'] == '>50K']['age'].mean())
print(df[df['salary'] == '<=50K']['age'].mean())
print(df[df['salary'] == '>50K']['age'].std())
print(df[df['salary'] == '<=50K']['age'].std())

44.24984058155847
36.78373786407767
10.519027719851826
14.02008849082488

In [68]:
df[df['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [70]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
import numpy as np
df.groupby(by=['race', 'sex'])['age'].agg([np.max])

                           amax
race               sex
Amer-Indian-Eskimo Female    80
                   Male      82
Asian-Pac-Islander Female    75
                   Male      90
Black              Female    90
                   Male      90
Other              Female    74
                   Male      77
White              Female    90
                   Male      90

In [129]:
married_df = df[df['marital-status'].apply(lambda marietal_status: marietal_status.startswith('Married') )]
single_df = df[df['marital-status'].apply(lambda marietal_status: not marietal_status.startswith('Married') )]
married = married_df[married_df['salary'] == ">50K"]
single = single_df[single_df['salary'] == ">50K"]
single

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32370,53,Self-emp-not-inc,137547,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,27828,0,40,Philippines,>50K
32429,51,Local-gov,203334,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [15]:
max_hours_per_week = df['hours-per-week'].apply([np.max])['amax']

len(df[df['hours-per-week'] == max_hours_per_week])

df = df[df['hours-per-week'] == max_hours_per_week]
len(df[df['salary'] == '>50K'])

25

In [16]:
df['hours-per-week'].apply([np.max])['amax']

99

In [36]:
df_alot_salary, df_little_salary = df[df['salary'] == '>50K'], df[df['salary'] == '<=50K']
# df_alot_salary.groupby(by=['native-country'])['hours-per-week'].apply(np.mean)
df_little_salary.groupby(by=['native-country'])['hours-per-week'].apply(np.mean)

native-country
?                99.0
England          99.0
Mexico           99.0
Philippines      99.0
South            99.0
United-States    99.0
Name: hours-per-week, dtype: float64