In [28]:
import pandas as pd
df = pd.read_csv("adult.data.csv")
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [35]:
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

In [38]:
df[df['native-country'] == 'Germany']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
280,22,Private,34918,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
767,22,Private,151790,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,Germany,<=50K
1009,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,<=50K
1142,59,Federal-gov,212448,HS-grad,9,Widowed,Sales,Unmarried,White,Female,0,0,40,Germany,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32074,30,Private,318749,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,35,Germany,<=50K
32101,45,Private,174794,Bachelors,13,Separated,Prof-specialty,Unmarried,White,Female,0,0,56,Germany,<=50K
32141,34,Private,193344,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K